/* Dropdown Hover */
.dropdown:hover>.dropdown-menu {
    display: block;
}
.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}
.nav{
    gap: 100px;
}


@media screen and (max-width: 500px) {
    .m-no{
        display: none;
    }
    .nav{
        gap: 0px;
    }
    /* .dropdown:hover>.dropdown-menu {
        display: unset;
    }
    .dropdown>.dropdown-toggle:active {
        pointer-events: unset;
    } */
}
