.card{
    border:0.1px solid black;
    margin:2px;
    width:100vw;
    padding-left:1em;
    padding-top:1em;
    padding-bottom:1em;
    cursor:pointer;
    background-color: white;
}
.card:hover{
    transition: 0.1 sec;
    transform: scale(10px);
    translate: 2px 2px ;
}