.group-bg{
    background: url(../../assets/group-classes.jpg);
    background-position: center; 
    background-size: cover;
    padding: 0;
}
.kids-bg{
    background: url(../../assets/kids-classes.jpg);
    background-position: center; 
    background-size: cover;
    padding: 0;
}
.private-bg{
    background: url(../../assets/private-classes.jpeg);
    background-position: center; 
    background-size: cover;
    padding: 0;
}
.main-box{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 100vw;
    color: white;
}
.second-div{
    padding: 50px 100px;
}
.second-div-pc{
    background: linear-gradient(135deg, rgb(97, 97, 97) 0%, rgb(191, 191, 191) 50%, white);
}
.second-div .flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.text{
    width: 400px;
    line-height: 2;
    text-shadow: 2px 2px 2px white;
}
.text ul{
    list-style:square;
    font-size: large;
}
.second-div img{
    width: 400px;
}
.third-div{
    text-align: center;
    padding: 50px 100px;
    line-height: 2;
}
.third-div h1{
    color: rgb(218, 58, 0);
}
.forth-div{
    padding: 50px 100px;
    color: rgb(218, 58, 0);
}
@media screen and (max-width: 455px) {
    .second-div{
        padding: 40px;
    }
    .text{
        width: 250px;
    }
    .second-div img{
        width: 250px;
    }
    .third-div{
        padding: 20px;
        font-size: small;
    }
    .forth-div{
        padding: 10px;
    }
}