* {
  margin: 0;
}
.top-div h2{
    background-color: #2d93ad;
    color: #fff;
    margin: 0;
    padding: 5px;
    text-align: center;
}
.top-div h3{
    color: #2d93ad;
    margin: 0;
    padding: 5px;
    /* text-align: center; */
}
.registerSec {
  display: flex;
  justify-content: center;
  padding: 3em;
  background-color: #e7e6e6;
}
.registerSec form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px 20px;
  background-color: #f1f1f1;
}
.registerSec form input {
  width: 20em;
  margin: 5px;
  padding: 1em;
  border: none;
  font-size: medium;
}
.registerSec form button {
  padding: 0.5em 1em;
  border-radius: 30px;
  font-size: large;
  border: none;
  background-color: #2d93ad;
  color: white;
  font-weight: 500;
  margin: 5px;
}
.registerSec form button:hover {
  box-shadow: 0 4px 8px rgba(94, 95, 97, 0.5);
}
.active-btn {
  background-color: #2d93ad;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  font-size: 1.1em;
  font-weight: 700;
  padding: 0.4em 0;
  border-radius: 5px;
  cursor: default;
  text-decoration: none;
}
.formOuter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  border-radius: 5px;
}
.signInRegister {
  display: flex;
  justify-content: center;
  font-size: 1.1em;
  font-weight: 700;
  padding: 0.4em 0;
  border-radius: 5px;
  cursor: default;
  text-decoration: none;
  color: #2d93ad;
}
.googleSignIn {
  display: flex;
  justify-content: center;
  border: 1px solid #2d93ad;
  gap: 10px;
  padding: 10px;
  margin: 10px;
  width: 95%;
  border-radius: 5px;
  margin: 10px;
  color: #2d93ad;
}
.googleSignIn:hover {
  transform: translateY(-2px);
  box-shadow: 1px 2px 2px black;
}
.googleSignIn img {
  width: 25px;
}
.form-form{
    text-align: center;
    padding: 10px;
    margin: 5px;
    border-radius: 30px;
    font-weight: bold;
    border: none;
}
.form-btn{
    background-color: #2d93ad;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin: 5px;
    border-radius: 30px;
    font-weight: bold;
    border: none;
}
p {
  font-size: small;
  padding: 10px;
}
p a {
  color: orange;
}
.showHide {
  background-color: #2d93ad;
  color: white;
}
.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #e7e6e6;
}
.center-div{
    width: 300px;
    color: #2d93ad;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 50px;  
    box-shadow: 2px 2px 5px 5px grey;
}
.center-div h1{
    font-weight: 900;
    padding: 10px;
    /* border-bottom: 2px solid; */
}
.center-div a{
    font-size: 20px;
    padding: 5px;
    border-radius: 30px;
    text-decoration: none;
    border: 2px solid #2d93ad;
    background-color: #f1f1f1;
    color: #2d93ad;

}
.center-div a:hover{
    border: 2px solid #2d93ad;
    background-color: #2d93ad;
    color: #fff;
}

@media (max-width: 425px) {
  .registerSec form input {
    width: 14em;
  }
}
